@font-face {
  font-family: DS-DIGI;
  src: url(./font/DS-DIGI.TTF);
}

body {
  position: relative;
  overflow: hidden;
  resize: horizontal;
  height: 100vh;
  background-color: black;
  /* background-image: url(/background_elements/2336.png);
  /* background-position: cover; */
  /* background-size: cover;

  background-repeat: no-repeat; */
}

h2 {
  position: absolute;
  z-index: 2;
  color: rgb(21, 180, 167);
  font-family: DS-DIGI;
  top: 34.5vw;
  left: 13.5vw;
  font-size: 3vw;
  text-shadow: 0 0 5px rgb(7, 53, 71), 0 0 10px rgba(255, 255, 255, 0.356),
    0 0 15px rgba(255, 255, 255, 0.377), 0 0 20px #1ba885, 0 0 35px #1ba885,
    0 0 40px #1ba885;
}
h1 {
  text-align: center;
  position: absolute;
  color: red;
  z-index: 17;
  top: 50px;
  left: 50%;
}

.mosquito {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 11;
  opacity: 0;
  animation-duration: 2s;
  animation-name: show;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
@keyframes show {
  to {
    opacity: 1;
  }
}
.tapette {
  width: 250px;
  position: absolute;
  z-index: 10;
}

.bonus:hover {
  cursor: default;
}

* {
  cursor: none;
  margin: 0;
  padding: 0;
}

.splash {
  width: 250px;
  position: absolute;
  visibility: hidden;
}

.favorite {
  width: 300px;
  height: 100px;
}
.bonus {
  position: absolute;
  width: 12rem;
  z-index: 100;

  bottom: 0;
  left: 45vw;
}
.tornado {
  position: absolute;
  width: 50vw;
  left: -300px;
  top: -4vw;
  z-index: 200;
  animation: move 3s;
  animation-fill-mode: forwards;
}
@keyframes move {
  to {
    left: 3000px;
  }
}

.anim {
  position: absolute;
  z-index: -10;
  width: 45%;
  left: 25vw;
  top: 8vw;

  visibility: visible;
}
.png {
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  height: 60vw;
  z-index: -1;
}

h3 {
  position: absolute;
  border: #fff;
  border-style: ridge;
  height: 30px;
  width: 360px;
  background-color: red;
  border-radius: 3px;
  z-index: 5;
  bottom: 2vw;
  left: 55vw;
  animation: warning 1.5s 25s 20;
}
@keyframes warning {
  to {
    background-color: #fff;
  }
}

.Scorefinal {
  position: absolute;
  width: 90vw;
  height: 80vh;
  left: 5vw;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 30px;
  top: -410vw;

  animation: end 2s;
  animation-fill-mode: forwards;
  animation-delay: 20s;
  z-index: 1140;
  font-size: 10rem;
  text-align: center;
  padding: 40px;
}
@keyframes end {
  to {
    top: 6vw;
  }
}

.final {
  height: 100%;

  position: absolute;
  top: 2.5%;
}

.message {
  position: absolute;
  color: #ff0606;

  border: #fff;
  font-size: 2rem;
  height: 30px;
  width: 360px;

  border-radius: 3px;
  z-index: 5;
  bottom: 5.5vw;
  left: 55vw;
}
